<div class="landing background-img-container"></div>
<div class="landing-quote">
  "Most people run a race to see who is <strong class="atn-blue">fastest</strong>. I run a race to see who has the most <strong class="atn-red">guts</strong>."
  <span class="author">-Steve Prefontaine</span>
</div>
