<div class="col-md-3">
  <div class="row">
    <div class="col-xs-12">
      <img
        class="team-image"
        src="<%= team.escape('logo') %>"
      >
    </div>
  </div>
</div>

<div class="col-md-1 user-options">
  <% if(team.isMember(TeamRun.currentUser)) { %>
    <button class="btn btn-default membership" id="leave">
      <div>Leave</div>
      <img class="team-icon" src="assets/icons/leave_icon_64.png">
    </button>
    <button class="btn btn-default new-event-button">
      <div>Create<br> event</div>
      <img class="team-icon" src="assets/icons/add_event.svg">
    </button>
  <% } else { %>
    <button class="btn btn-default membership" id="join">
      <div>Join</div>
      <img class="team-icon" src="assets/icons/join_icon_64.png">
    </button>
  <% } %>
</div>

<div class="col-md-8">
  <h1 class="text-center team-name"><%= team.escape('name') %></h1>
  <section class="description">
    <%= team.escape('description') %>
  </section>
</div>
