<div class="form-group">
  <label for="name">Team name:</label>
  <input
    type="text"
    name="team[name]"
    id="name"
    class="form-control"
    value="<%= team.escape('name') %>"
    placeholder="TeamRun Racing Club..."
  >
</div>

<div class="form-group">
  <label for="description">Describe your team:</label>
  <textarea
    name="team[description]"
    placeholder="Give some basic info about your group and it's activities..."
    id="description"
    class="form-control"
  ><%= team.escape('description') %></textarea>
</div>

<div class="form-group">
  <label for="location">Team location:</label>
  <input
  type="text"
  name="team[location]"
  id="location"
  class="form-control"
  value="<%= team.escape('location') %>"
  placeholder="San Francisco..."
  >
</div>

<div class="uploaded-image-container">
  <img class="uploaded-image" src="assets/club_logos/placeholder.png">
</div>

<div class="form-group">
  <button class='my-cloudinary-button text-center'>Add Image</button>
</div>

<input type="hidden" name="team[logo]" value="/assets/club_logos/placeholder.png">

<button class="btn btn-default" id="create-team" name="submit">Create Team</button>
