<div class="form-group">
  <label for="name">Team Name:</label>
  <input
    type="text"
    name="team[name]"
    id="name"
    class="form-control"
    value="<%= team.escape('name') %>"
    placeholder="TeamRun Racing Club..."
  >
</div>

<div class="form-group">
  <label for="description">Describe your team:</label>
  <textarea
    name="team[description]"
    placeholder="Give some basic info about your group and it's activities..."
    id="description"
    class="form-control"
  ><%= team.escape('description') %></textarea>
</div>

<button class="btn btn-default" name="submit">Create Team</button>
