<% if(filterAttr === false) { %>
  <div class="jumbotron jumbotron-teams">
    <span id="jumbo-text-1"><h1>FIND YOUR TEAM</h1></span>
    <span id="jumbo-text-2"><h1>START YOUR RUN</h1></span>
  </div>
<% } else { %>
  <h1 class="my-teams-header text-center">My Teams</h1>
  <hr>
<% } %>

<div class="team-index-items row"></div>
