<h1><%= team.escape('name') %></h1>
<h2>Captain: <%= team.escape('captain_id') %></h2>
<label>Description</label>
<section><%= team.escape('description') %></section>

<% if(+team.escape('captain_id') === TeamRun.currentUser) { %>
  <button class="delete">Delete Team</button>
<% } %>

<% if(team.isMember(TeamRun.currentUser)) { %>
  <button class="membership" id="leave">Leave Team</button>
<% } else { %>
  <button class="membership" id="join">Join Team</button>
<% } %>
<a href="#/teams/<%= team.id %>" >Show Team</a>
