<div class="col-md-4 no-gutters">
  <div class="row">
    <div class="col-sm-12 team-image-container">
      <img class="team-image" src="assets/placeholder.png">
    </div>
  </div>
  <div class="team-info row">
    <div class="col-sm-12">
      <a href="#/teams/<%= team.id %>" >
        <h1 class="text-center"><%= team.escape('name') %></h1>
        <section class="team-description"><%= team.escape('description') %></section>
      </a>
    </div>
    <div class="text-center options">
      <div class="btn-group btn-group-justified">
        <% if(+team.escape('captain_id') === TeamRun.currentUser) { %>
          <div class="btn-group" role="group">
            <button class="btn btn-lg btn-default delete">Delete Team</button>
          </div>
        <% } %>

        <% if(team.isMember(TeamRun.currentUser)) { %>
          <div class="btn-group" role="group">
            <button class="btn btn-lg btn-default membership" id="leave">Leave Team</button>
          </div>
        <% } else { %>
          <div class="btn-group" role="group">
            <button class="btn btn-lg btn-default membership" id="join">Join Team</button>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
