<div class="team-detail"></div>
<div class="members-display"></div>
<div class="events-list"></div>
<div class="calendar-container"></div>
<a href="#/teams/<%= team.id %>/events/new">Create a new event</a>
