<div class="team-detail row"></div>
<div class="row">
  <div class="calendar-container col-md-3"></div>
  <div class="events-list col-md-7 col-md-offset-1"></div>
</div>
<a href="#/teams/<%= team.id %>/events/new">Create a new event</a>
<div class="members-display"></div>
