<div id="route-distance"></div>

<form class="route-info">
  <input type="text" name="route[name]" placeholder="Route name..." value="">
  <textarea name="route[description]" placeholder="Route description...">
  </textarea>

  <% if(purpose === "route") { %>
    <button class="submit-route">Create Route</button>
  <% } %>
</form>

<div id="map" style="height: 500px; width: 100%;"></div>
