<div id="route-distance">Distance</div>

<form class="route-info">
  <div class="form-group">
    <label for="route-name">Route Name:</label>
    <input
      type="text"
      name="route[name]"
      id="route-name"
      class="form-control"
      placeholder="San Fran Run..."
      value=""
    >
  </div>

  <div class="form-group">
    <label for="route-description">Route Description:</label>
      <textarea
        name="route[description]"
        id="route-description"
        class="form-control"
        placeholder="5k through downtown..."
      ></textarea>
  </div>

  <% if(purpose === "route") { %>
    <button class="submit-route">Create Route</button>
  <% } %>
</form>

<div id="map"></div>
