<div id="route-distance"></div>

<form class="route-info">
  <input type="text" name="route[name]" placeholder="Name..." value="">
  <textarea name="route[description]" placeholder="Description...">
  </textarea>
  <button class="submit-route">Create Route</button>
</form>

<div id="map"></div>
