// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-information {
  border: solid 1px #ddd;
  margin-bottom: 5px;
  padding-bottom: 10px;
  background-color: #fff;
}

.event-information h2 {
  margin-bottom: 5px;
}

.event-information hr {
  margin: 4px 0px 0px 0px;
}

.event-specifics {
  border-left: solid 1px #ddd;
}

.event-content {
  padding-top: 10px;
}

.new-event {
  font-size: 16px;
}

.show-team .new-event-button {
  margin: 20px 0px 20px 0px;
  width: 100%;
}

.event-show .icon {
  width: 16px;
  margin-right: 8px;
}
