// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "sass_variables";

.row .no-gutters {
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
}

.team {
  color: white;
  position: relative;
}

.team h1 {
  color: $cs-red;
}

.team a {
  text-decoration: none;
}

.team a:hover {
  text-decoration: none;
}

.team-image {
  height: 100%;
  width: 100%;
  position: relative;
}

.team-info {
  // display: none;
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  transition: visibility 0.5s;
}

.team-info section {
  height: 180px;
  display: inline-block;
  overflow: hidden;
}

.team:hover .team-info {
  display: block;
  visibility: visible;
}

.team .team-image-container {
  overflow: visible;
  padding: 0px;
}

.team-image-container img {
  // margin-top: -6px;
  // margin-left: -6px;
  height: calc(100% + 14px);
  width: calc(100% + 14px);
  margin: -6px;
}

.team:hover .team-image-container img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  transition: filter 0s;
  -webkit-transition: -webkit-filter 0s;
  overflow: hidden;
}


.team-image-container:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background: $cs-dark-blue;
  opacity:0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  margin-right: 15px;
  margin-left: 15px;
}

.team:hover .team-image-container:after {
  opacity:0.5;
}

.team-description {
  color: white;
  margin-bottom: 10px;
}

.options {
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: 101%;
  z-index: 100000;
}

.options button {
  border-radius: 0px;
}

button.new-team {
  margin-top: 10px;
}
