// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.team-image {
  height: 100%;
  width: 100%;
  margin-top: 15px;
}

.team-info {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}

.team-info:hover {
  display: block;
}

.team-description {
  margin-bottom: 10px;
}

button.new-team {
  margin-top: 10px;
}
