<div id="footer">
  <div class="container">
    <ul class="right-side">
      <li>Created by Nick Blumenthal</li>
    </ul>
    <ul class="left-side">
      <li>Credits</li>
    </ul>
  </div>
</div>
